/*/// Everything ///*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
*::selection {
    background-color: #fd9;
    color: white;
}


/*/// Container ///*/
html, body {
    font-size: 100%;
    font-family: Karla;
    color: #333;
    background-color: #dedede;
    width: 100%;
    height: 100%;
}
#container {
    width: 980px;
    min-height: 50vh;
    background-color: white;
    margin: 80px auto 0 auto;
    position: relative;
    overflow: hidden;
}
#container a {
    color: #333;
}


/*/// Logo Inside The Nav ///*/
#logo {
    font-size: 3em;
    font-family: "Russo One";
    flex-grow: 2;
    text-align: center;
}
#logo span {
    color: darkorange;
}
#logo a {
    color: whitesmoke;
}
/*/// Nav With Buttons ///*/
li.active {
    background-color: #444;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    height: 65px;
    overflow: hidden;
}
nav > ul {
    display: flex;
    flex-grow: .3;
}
nav > ul a {
    color: whitesmoke;
    margin: 0 20px;
    padding: 0 5px;
    transition: color .25s linear;
    font-weight: bold;
    display: block;
}
nav > ul li {
    height: 65px;
    line-height: 65px;
    transition: background-color .175s ease;
}
nav > ul li:hover {
    border-bottom: 5px solid darkorange;
    background-color: #222;
    box-shadow: 0 0 7px black;
}
/*/// Register / Login ///*/
#lr {
    color: whitesmoke;
    flex-grow: .5;
}
#lr > span {
    background-color: #222;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}
#lr > span:hover {
    background-color: #111;
}


/*/// Header On The Right ///*/
header {
    background-color: #555;
    width: 100%;
    height: 380px;
}
#slide-content {
    width: 30%;
    float: right;
    background-color: #cdd4ab;
    height: 100%;
    border-left: 3px solid #fff;
    position: relative;
}
#slide-content h2 {
    font-weight: bolder;
    font-size: 2em;
    margin: 25px 0 20px 25px;
    padding: 0 0 0 35px;
    color: white;
    background-color: #222;
    box-shadow: 0 0 15px #333;
    background-image: linear-gradient(to left, #444 10%, #333 40%);
}
#slide-content p {
    text-align: center;
    margin: 0 15px;
    padding: 25px;
    font-size: 1.1em;
}
#spBtn {
    background-color: #444;
    color: whitesmoke;
    width: 50%;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 3px solid #333;
    box-shadow: 0 2px 2px black;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 15%;
    transition: background-color .1s linear;
    -webkit-user-select: none;
}
#spBtn:hover {
    background-color: #555;
}
#spBtn:active {
    background-color: #333;
    border-bottom: 0;
    line-height: 35px;
    color: silver;
    bottom: 14.5%;
}

/*/// Slide Show ///*/
#show {
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 70px auto;
}
#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 800px;
}
.box {
    width: 300px;
    height: 200px;
    position: absolute;
    transition: all .25s ease-in-out;
    rightleft: 0;
    border: 2px solid gray;
    outline: 5px solid white;
    box-shadow: 0 0 35px 1px black;
    overflow: hidden;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(1);
}
#ctrl span:nth-child(1) {
    left: -70px;
    top: 37.5%;
}
#ctrl span:nth-child(2) {
    right: -70px;
    top: 37.5%;
}
#ctrl span {
    background-color: black;
    opacity: .6;
    color: white;
    width: 30px;
    height: 25%;
    display: block;
    text-align: center;
    line-height: 48px;
    position: absolute;
    font-size: 2em;
    transition: all .25s linear;
    border-radius: 5px;
}
#ctrl span:hover {
    cursor: pointer;
}
#ctrl span::selection {
    background-color: transparent;
    color: white;
}


/*/// That's Where The Content Goes ///*/
main {
    background-color: whitesmoke;
    width: 100%;
    min-height: inherit;
    box-shadow: 0 0 25px #222;
    display: flex;
    flex-wrap: wrap;
}
main div {
    width: 75%;
}
aside {
    width: 25%;
    background-color: #444;
    box-shadow: 0 0 15px;
}
#as-list {
    padding: 5px;
}
#as-list li {
    padding: 10px 20px;
    position: relative;
}
#as-list li:hover {
    background-color: #555;
    box-shadow: 0 0 15px;
}
#as-list a {
    color: whitesmoke;
    display: block;
    font-size: 1.1em;
}
aside ul li, nav ul li {
    cursor: pointer;
}
.drop-trigger span {
    color: whitesmoke;
    font-size: 1.1em;
}
.drop-trigger:after {
    content: "^";
    transform: rotateZ(180deg);
    color: whitesmoke;
    font-weight: bolder;
    position: absolute;
    top: 25%;
    right: 10%;
}
.drop-list {
    display: none;
    margin-left: 5px;
}
.drop-list li {
    background-color: #333;
}
.drop-list li:hover {
    background-color: #222;
}
.drop-list a {
    padding-left: 10px;
}


#items {
    width: 75%;
    padding: 20px;
    position: relative;
}
.item {
    width: 200px;
    height: 200px;
    background-color: white;
    outline: 3px solid white;
    border: 2px solid darkgray;
    position: relative;
    float: left;
    margin: 14px 14px 100px 14px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.type {
    background-color: #222;
    position: absolute;
    top: 5px;
    left: 0;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    font-style: italic;
    opacity: .8;
    border-radius: 0 50px 50px 0;
}
.price {
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    border-radius: 50%;
    border: 2px solid darkgray;
    font-family: Karla;
    font-style: italic;
    font-weight: bold;
}
.width {
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 196px;
    background-color: white;
    color: silver;
    border-radius: 5px;
    border: 1px solid silver;
}



/*/// Footer?? ///*/
footer {
    background-color: #333;
    min-height: 65px;
    width: 980px;
    position: relative;
    margin: 0 auto 80px auto;
    color: #999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
footer span {
    color: linen;
    display: inline-block;
    width: 80px;
    font-style: normal;
}



#view {
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#view-image {
    width: 280px;
    height: 280px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: 3px solid white;
    border: 2px solid darkgray;
    box-shadow: 0 0 15px #cdd4ab;
    position: relative;
}
#view-info {
    width: 300px;
    position: relative;
}
#view h2 {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: right;
    margin-right: 15px;
    padding: 2px 5px;
    border-bottom: 2px solid orange;
}
#view ul {
    margin: 20px;
}
#view ul li {
    font-weight: bold;
    display: block;
}
#view ul span {
    font-weight: normal;
    display: inline-block;
}
.view-price {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
    background-color: #777;
    padding: 5px 20px;
    margin: 20px auto;
    display: inline-block;
    color: white;
    border: 2px solid #555;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: -20px;
    opacity: .8;
}
#dimension {
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 196px;
    background-color: white;
    color: silver;
    border-radius: 5px;
    border: 1px solid silver;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
}



#quantSelect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fdfdfd;
    box-shadow: 0 0 15px;
}
#papers {
    padding: 30px 0;
    width: 60%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}
.paper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: silver;
    display: inline-block;
    margin: 2px;
    position: relative;
    transition: all .25s ease;
}
.paper:after {
    width: 20px;
    height: 20px;
    background-color: white;
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    text-align: center;
}
.selected:after{
    content: "✔";
    background-color: orange;
    color: white;
}
.paper:hover {
    transform: scale(2);
    z-index: 10;
}

#output {
    width: 40%;
}
#output ul {
    background-color: white;
    width: 90%;
    height: 250px;
    margin: 30px auto;
    border: 2px solid #666;
    border-radius: 3px;
    overflow-y: scroll;
}
#output ul li {
    background-color: whitesmoke;
    padding: 5px;
    margin: 5px;
    transition: background-color .1s linear;
    position: relative;
}
#output ul li:hover {
    background-color: #d4cfcf;
}
#output ul li .x {
    display: none;
    position: absolute;
    right: 13px;
    cursor: pointer;
}
#output ul li:hover .x {
    color: darkorange;
    font-weight: bolder;
    display: inline-block;
}
#ctrl {
    margin: 0 auto;
    display: flex;
}
#ctrl input {
    height: 35px;
    display: inline-block;
}
#quant {
    text-align: center;
    width: 40%;
    border: 1px solid silver;
    border-radius: 5px 0 0 5px;
}
#add {
    width: 60%;
    background-color: #444;
    color: whitesmoke;
    font-weight: bolder;
    border: 1px solid silver;
    position: relative;
    right: 3px;
    outline: none;
    transition: background-color .25s linear;
    cursor: pointer;
    margin-bottom: 30px;
}
#add:hover {
    color: #444;
    background-color: whitesmoke;
}


.selected {
    border-color: orange;
    box-shadow: 0 0 15px orange;
    position: relative;
}
.newI {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 35px;
}
#order {
    width: 35%;
    background-color: #444;
    color: whitesmoke;
    font-weight: bolder;
    border: 1px solid silver;
    position: relative;
    right: 3px;
    border-radius: 0 5px 5px 0;
    outline: none;
    transition: background-color .25s linear;
    cursor: pointer;
    margin-bottom: 30px;
}
#order:hover {
    color: #444;
    background-color: whitesmoke;
}

#data {
    position: absolute;
    width: 55%;
    top: 50px;
    height: 500px;
    left: 200%;
    background-color: whitesmoke;
    z-index: 20;
    border-radius: 5px;
    box-shadow: 0 0 15px;
    transition: all .25s ease-in-out;
    opacity: 0;
}
#data dl {
    margin: 30px;
}
#data label {
    font-weight: bolder;
    padding-left: 20px;
}
#data input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid silver;
    margin-bottom: 20px;
    padding-left: 25px;
}
#data textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 150px;
    height: 150px;
    padding: 5px;
    font-family: Lato;
}
#data .close {
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 10px;
    height: 10px;
    font-weight: bold;
    cursor: pointer;
}
#submit {
    margin-top: 20px;
    background-color: #444;
    color: whitesmoke;
    font-weight: bolder;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
    transition: background-color .25s linear;
    cursor: pointer;
}
#submit:hover {
    color: #444;
    background-color: whitesmoke;
}